body {
    background-color: darksalmon;
}

.fill {
    background-image: url('http://source.unsplash.com/random/150x150');
    position: relative;
    height: 150px;
    width: 150px;
    top: 5px;
    left: 5px;
    cursor: pointer;
}

.empty {
    display: inline-block;
    height: 160px;
    width: 160px;
    margin: 10px;
    border: 3px salmon;
    background-color: white;
}

.hold {
    border: solid #ccc 4px;
}

.hovered {
    background-color: #f4f4f4;
    border-style: dashed;
}

.invisible {
    display: none;
}

table {
    height: 528px;
    width: 528px;
    border-spacing: 0;
}

#test {
    height: 480px;
    width: 480px;
}

#player2 {
    margin-left: 538px;
    margin-top: -528px;
}

 tr {
    
}

thead {
    height: 48px;
}

 th {
    width: 48px;
    border: black solid 2px;
}