body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(212, 252, 255);
}

thead {
    height: 48px;
}
th {
    width: 48px;
    border: black solid 3px;
    text-align: center;
}
table {
    height: 528px;
    width: 528px;
    border-spacing: 0;
}

#test {
    height: 480px;
    width: 480px;
}

#player2 {
    margin-left: 538px;
    margin-top: -528px;
}

#tartalom {
    text-align: center;
    background-color: aliceblue;
    font-size: 2rem;
}

.cim {
    color: rgb(1, 70, 1);
}

.kiemeles {
    color: rgb(0, 54, 54);
}

.fired-boat {
    background-color: red !important;
}

.fired-cell {
    background-color: rgba(0, 0, 0, 0.26);
}

.sullyedt {
    background-color: brown !important;
}

.boat {
    background-color: gray;
}